{{template "meta.html" .}}
<div class="pure-g-r" id="layout">
    {{template "sidebar.html" .}}
    <div class="pure-u-1">
        <div class="content">
            <div class="page-header">
                <h1>{{.I18n.Tr "post.archive"}}</h1>
            </div>
            {{range .Archives}}
            <div class="archive">
                <h3>{{.Year}}</h3>
                {{range .Posts}}
                <ul>
                    <li>
                        <h4>
                            <span class="date">{{.Created.Year}}.{{printf "%0d" .Created.Month}}.{{.Created.Day}}</span>
                            »
                            <a href="{{.URL}}">{{.Title}}</a>
                        </h4>
                    </li>
                </ul>
                {{end}}
            </div>
            {{end}}
        </div>
        {{template "footer.html" .}}
    </div>
</div>
{{template "footer_js.html" .}}