<div class="sidebar pure-u">
    <header class="header">
        <hgroup>
            <h1 class="brand-title">
                <a href="{{.Base}}/" class="brand-title">{{.Meta.Title}}</a>
            </h1>
            <h2 class="brand-tagline">{{.Meta.Subtitle}}</h2>
        </hgroup>
        <nav class="nav">
            <ul class="nav-list">{{range .Nav}}
                <li class="{{if eq .Hover $.Hover}}active{{end}}">{{if .Icon}}<i class="{{.Icon}}"></i>{{end}}
                    <a href="{{.Link}}"{{if .IsBlank}} target="_blank" {{end}}>{{.Tr $.I18n}}</a>
                </li>{{end}}
            </ul>
        </nav>
    </header>
</div>