<meta charset="UTF-8">
<title>{{.Title}}</title>
<link rel="shortcut icon" type="image/png" href="{{.ThemeLink}}/img/logo.png"/>
<link rel="stylesheet" href="{{.ThemeLink}}/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{.ThemeLink}}/css/bootstrap-flat.min.css"/>
<link rel="stylesheet" href="{{.ThemeLink}}/css/bootstrap-flat-extras.min.css"/>
<link rel="stylesheet" href="{{.ThemeLink}}/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{{.ThemeLink}}/css/style.css"/>
<script src="{{.ThemeLink}}/js/jquery-2.1.4.min.js"></script>
<script src="{{.ThemeLink}}/js/bootstrap.min.js"></script>
<script src="{{.ThemeLink}}/js/jquery.form.min.js"></script>
<script>
    $(function () {
        // bootstrap element init
        (function () {
            $('[data-toggle="tooltip"]').tooltip()
        })();
    });
</script>