<!DOCTYPE html>
<html>
<head lang="en">
    {{template "admin/_meta.tmpl" .}}
</head>
<body>
{{template "admin/_nav.tmpl" .}}
<div id="main">
    <div class="container" id="index-main">
        <h3 class="main-title">BACKUP
            <button type="button" class="btn btn-primary pull-right" id="backup-button">
                <i class="fa fa-archive"></i> New Zip Archive
            </button>
        </h3>
        <hr/>
        <div id="backup-files">
            <div class="alert alert-info" id="backup-doing">BACKUP FILE IS WORKING ......</div>
            <div class="alert alert-success" id="backup-success"></div>
            <div class="alert alert-danger" id="backup-error"></div>
            {{range .BackupFiles}}
            <div class="backup-file">
                <i class="fa fa-file-zip-o"></i>
                <a href="#" target="_blank" class="name"><strong>{{.Name}}</strong></a>
                <span class="size">{{BytesSizeFriend .Size}}</span>
                <span class="time">{{TimeUnixFormat .CreateTime "01.02 15:04:05"}}</span>
                <a class="delete text-danger" href="/admin/delete/backup?file={{.FullPath}}"><i class="fa fa-times"></i></a>
            </div>
            {{end}}
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#backup-button').on("click", function () {
            $.ajax({
                url: "/admin/advance/backup",
                beforeSend: function () {
                    $('#backup-button,#backup-success,#backup-error').hide();
                    $('#backup-doing').show();
                },
                type: "post",
                success: function (json) {
                    $('#backup-button').show();
                    $('#backup-doing').hide();
                    if (json.status) {
                        $('#backup-success').html("BACKUP to file <strong>" + json.data.file + "</strong>").show();
                    } else {
                        $('#backup-error').html(json.error).show();
                    }

                }
            });
        });
    })
</script>
</body>
</html>