<!DOCTYPE html>
<html>
<head lang="en">
    {{template "admin/_meta.tmpl" .}}
</head>
<body>
{{template "admin/_nav.tmpl" .}}
<div id="main">
    <div class="container" id="index-main">
       xxxxxxx
    </div>
</div>
</body>
</html>