<!DOCTYPE html>
<html>
<head lang="en">
    {{template "admin/_meta.tmpl" .}}
</head>
<body>
{{template "admin/_nav.tmpl" .}}
<div id="main">
    <div class="container" id="manage-article-main">
        <h3 class="main-title">ARTICLES</h3>
        <hr/>
        <div id="manage-article-list">
            <div class="article clear">
                <span class="date">06.12</span>
                <a class="title" href="#">Building Your Own Data Diode with Open Source Solutions</a>
                <a class="status label label-warning" href="#">DRAFT</a>
                 <span class="opt pull-right">
                      <a href="#" class="text-default"><i class="fa fa-eye"></i> PUBLIC</a>
                    <a href="#" class="text-success"><i class="fa fa-edit"></i> EDIT</a>
                    <a href="#" class="text-danger"><i class="fa fa-remove"></i> DELETE</a>
                </span>
            </div>
            <div class="article clear">
                <span class="date">06.12</span>
                <a class="title" href="#">Building Your Own Data Diode with Open Source Solutions</a>
                <span class="opt pull-right">
                    <a href="#" class="text-success"><i class="fa fa-edit"></i> EDIT</a>
                    <a href="#" class="text-danger"><i class="fa fa-remove"></i> DELETE</a>
                </span>
            </div>
            <div class="article clear">
                <span class="date">06.11</span>
                <a class="title" href="#">Join PersistIQ as our customer success lead – Impact how millions of people
                    work</a>
                <span class="opt pull-right">
                    <a href="#" class="text-success"><i class="fa fa-edit"></i> EDIT</a>
                    <a href="#" class="text-danger"><i class="fa fa-remove"></i> DELETE</a>
                </span>
            </div>
            <div class="article clear">
                <span class="date">06.09</span>
                <a class="title" href="#">Application Architecture with React: Rethinking Flux</a>
                <span class="opt pull-right">
                    <a href="#" class="text-success"><i class="fa fa-edit"></i> EDIT</a>
                    <a href="#" class="text-danger"><i class="fa fa-remove"></i> DELETE</a>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>