<!DOCTYPE html>
<html>
<head lang="en">
    {{template "admin/_meta.tmpl" .}}
    <link rel="stylesheet" href="{{.ThemeLink}}/editor/css/editormd.min.css"/>
    <script src="{{.ThemeLink}}/editor/editormd.min.js"></script>
    <script src="{{.ThemeLink}}/editor/languages/en.js"></script>
</head>
<body>
{{template "admin/_nav.tmpl" .}}
<div id="main">
    <div class="container-fluid col-md-10 col-md-offset-1" id="write-article-main">
        <form id="write-article-form" class="form" action="/admin/write/article" method="post">
            <div id="write-article-success" style="display: none;" class="alert alert-success form-group"></div>
            <div id="write-article-error" style="display: none;" class="alert alert-danger form-group"></div>
            <div class="form-group">
                <input class="form-control input-lg" id="write-article-title" type="text" name="title"
                       placeholder="ARTICLE TITLE" value="{{.Article.Title}}"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="write-article-link" type="text" name="link" placeholder="ARTICLE LINK"
                       value="{{.Article.Link}}"/>
            </div>
            <div class="form-group">
                <div id="editormd">
                    <textarea name="body" id="editormd-textarea" style="display: none">{{.Article.Body}}</textarea>
                </div>
            </div>
            <div class="form-inline write-article-form-inline">
                <div class="form-group">
                    <label for="write-article-tag"><strong>TAGS</strong></label>
                    <input type="text" class="form-control" id="write-article-tag" name="tag" placeholder="TAGS"
                           value="{{.Article.TagString}}">
                </div>
                <div class="form-group">
                    <label for="write-article-type"><strong>TYPE</strong></label>
                    <select class="form-control" id="write-article-type" name="type">
                        <option value="markdown">MARKDOWN</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="write-article-publish" name="draft" value="draft" {{if .Article.IsDraft}} checked{{end}}>
                        <strong>AS DRAFT</strong>
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="write-article-comment" name="comment" value="close" {{if .Article.IsCommentClosed}} checked{{end}}>
                        <strong>CLOSE COMMENT</strong>
                    </label>
                </div>
                <div class="form-group pull-right">
                    {{.XsrfHTML}}
                    {{if .Article}}
                    <input id="write-article-id" type="hidden" name="id" value="{{.Article.Id}}"/>
                    {{else}}
                    <input id="write-article-id" type="hidden" name="id" value="0"/>
                    {{end}}
                    <button class="btn btn-primary">SAVE ARTICLE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var testEditor;
    $(function () {
        testEditor = editormd("editormd", {
            width: "100%",
            height: 700,
            syncScrolling: "single",
            path: "{{.ThemeLink}}/editor/lib/",
            name: "body"
        });
        $('#write-article-form').ajaxForm({
            dataType: "json",
            success: function (json) {
                $('#write-article-error,#write-article-success').hide();
                if (json.status) {
                    var $id = $('#write-article-id'),
                            msg = "SAVE ARTICLE DONE, YOU CAN CONTINUE TO EDIT";
                    $('#write-article-success').text(msg).show();
                    $id.val(json.data.article.Id);
                    return;
                }
                $('#write-article-error').text(json.error).show();
            }
        })
    });
</script>
</body>
</html>