<!DOCTYPE html>
<html>
<head lang="en">
    <title>500 Internal Server Error</title>
    <style media="all">
        @import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,700");
        html, body {
            font-family: Lato, Helvetica Neue, "Microsoft Yahei", Helvetica, Arial, sans-serif;
        }
        body{
          width: 400px;
          margin: auto;
        }
        h1,h4,p{
          text-align: center;
        }
    </style>
</head>
<body>
<h1>500 Internal Server Error</h1>
<p>[error]</p>
<hr/>
<h4><a href="{{.Root}}/">Home</a></h4>
<hr/>
<p style="color: #AAA;text-transform: uppercase">pugo server</p>
</body>
</html>
