<footer id="footer">
    <div class="container text-center">
        <p>© 2015 {{.Meta.Title}}.
            <a href="http://creativecommons.org/licenses/by/3.0/">Some rights reserved </a> |
            <a href="/feed.xml">Feed</a> |
            <a href="/sitemap.xml">Sitemap</a>
        </p>
        <p>Powered by <a href="https://github.com/go-xiaohei/pugo-static">Pugo {{.Version.Num}}</a>. Theme by Default.</p>
    </div>
</footer>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/prism.min.js"></script>
<script>
    $(document).ready(function(){
       $("pre code").addClass("line-numbers")
    });
</script>