<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{.Title}}</title>
    <meta name="keywords" content="{{.Meta.Keyword}}"/>
    <meta name="description" content="{{.Desc}}"/>
    <link rel="stylesheet" href="{{.Root}}/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{.Root}}/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{.Root}}/static/css/prism.css"/>
    <link rel="stylesheet" href="{{.Root}}/static/css/style.css"/>
</head>