{{template "meta.html" .}}
<body>
{{template "header.html" .}}
<section id="main">
    <div class="container">
        <div id="article-single">
            <article class="article">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 panel panel-default">
                        <header class="header">
                            <div class="meta">
                        <span class="date">
                            <span class="month">{{.Post.Created.Month}}</span>
                            <span class="day">{{.Post.Created.Day}}</span>
                        </span>
                            </div>
                            <h3 class="title">
                                <a href="{{$.Root}}{{.Post.Url}}">{{.Post.Title}}</a>
                            </h3>
                        </header>
                        <aside class="aside clearfix">{{range .Post.Tags}}
                            <a class="tag label label-info" href="{{$.Root}}{{.Url}}">{{.Name}}</a>{{end}}
                            <a class="stat label label-default pull-right"{{if .Post.Author.Url}} href="{{.Post.Author.Url}}" target="_blank"{{end}}>{{.Post.Author.Name}}</a>
                        </aside>
                        <section class="brief">{{.Post.ContentHTML}}</section>
                    </div>
                </div>
            </article>
        </div>
        {{template "comment.html" .}}
    </div>
</section>
{{template "footer.html" .}}
