{{template "meta.html" .}}
<body class="{{.PostType}}" data-perma="{{.PermaKey}}">
{{template "cover.html" .}}
<section id="main">
    <div class="container">
        <div id="article-single">
            <article class="article">
                <div class="row">
                    <header class="header">
                        <h3 class="title">
                            <a href="{{.Post.URL}}">{{.Post.Title}}</a>
                        </h3>
                    </header>
                    <aside class="aside clearfix">
                        <span class="date">
                            <span class="year">{{.Post.Created.Year}}</span>/
                            <span class="month">{{printf "%0d" .Post.Created.Month}}</span>/
                            <span class="day">{{.Post.Created.Day}}</span>
                        </span>{{if .Post.Author}}
                        <a class="author"{{if .Post.Author.URL}} href="{{.Post.Author.URL}}" target="_blank"{{end}}>{{.Post.Author.Name}}</a>{{end}}
                        <span class="tags">{{range .Post.Tags}}
                            <a class="tag" href="{{.URL}}">{{.Name}}</a>{{end}}
                        </span>
                    </aside>
                    <section class="brief">{{.Post.ContentHTML}}</section>
                </div>
            </article>
        </div>
        {{template "embed/comment.html" .}}
        {{template "footer.html" .}}
    </div>
</section>
{{template "footer_js.html" .}}
