<footer class="page-footer green darken-1" id="footer-container">
    <div class="container">
        <div class="row center-align white-text">
            Attribution-NonCommercial 2.5
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © 1990 - ? <a href="https://github.com/fuxiaohei" class="white-text" target="_blank">fuxiaohei</a></span>
            <a class="white-text right" href="https://github.com/fuxiaohei/pugo">Powered By Pugo</a>
        </div>
    </div>
</footer>