<meta charset="UTF-8">
<title>{{.Title}}</title>
<link rel="shortcut icon" type="image/png" href="{{.ThemeLink}}/img/logo.jpeg"/>
<link type="text/css" rel="stylesheet" href="{{.ThemeLink}}/css/materialize.min.css" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{{.ThemeLink}}/css/style.css"/>
<script src="{{.ThemeLink}}/js/jquery-2.1.4.min.js"></script>
<script src="{{.ThemeLink}}/js/materialize.min.js"></script>