<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="{{.General.Keyword}}" />
<meta name="description" content="{{.General.Description}}" />
<title>{{.Title}}</title>
<link rel="shortcut icon" type="image/png" href="{{.ThemeLink}}/img/logo.png"/>
<link rel="alternate" type="application/rss+xml" title="{{.Title}}" href="/feed.xml" />
<link type="text/css" rel="stylesheet" href="{{.ThemeLink}}/css/materialize.min.css" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{{.ThemeLink}}/css/style.css"/>
<script src="{{.ThemeLink}}/js/jquery-2.1.4.min.js"></script>
<script src="{{.ThemeLink}}/js/materialize.min.js"></script>
<script src="{{.ThemeLink}}/js/jquery.form.min.js"></script>
<script src="{{.ThemeLink}}/js/prism.min.js" data-manual></script>
<script src="{{.ThemeLink}}/js/app.js"></script>