<div class="section comment-section" id="comments">
    <div class="row">
        <div class="col l12 m12 s12 white z-depth-2">
            <div class="comment-main">
                <h4 class="comment-header">Comments</h4>

                <div class="comment">
                    <div class="avatar left">
                        <img class="responsive-img circle z-depth-1"
                             src="http://1.gravatar.com/avatar/d57d179fe317be14fb167aa8bbe9a5f3"
                             alt=""/>
                    </div>
                    <div class="body">
                        <div class="meta">
                            <a class="waves-effect orange-text btn-flat right reply"><i class="mdi-content-reply"></i>&nbsp;&nbsp;REPLY</a>
                            <a class="author" href="#"><strong>Xinzens</strong></a>
                            <span class="date">12 DAYS AGO</span>
                        </div>
                        <div class="content entry-content">要说 C++ 从 C 继承到的最大优点是什么的话，大抵是指针级别的抽象零开销。</div>
                        <div class="meta2 right-align">
                            <span class="floor">#12</span>
                        </div>
                    </div>
                    <div class="children">
                        <div class="comment">
                            <div class="avatar left">
                                <img class="responsive-img circle z-depth-1" src="http://1.gravatar.com/avatar/d57d179fe317be14fb167aa8bbe9a5f3"
                                     alt=""/>
                            </div>
                            <div class="body">
                                <div class="meta">
                                    <a class="waves-effect orange-text btn-flat right reply"><i class="mdi-content-reply"></i>&nbsp;&nbsp;REPLY</a>
                                    <a class="author" href="#"><strong>Xinzens</strong></a>
                                    <span class="date">12 DAYS AGO</span>
                                </div>
                                <div class="content entry-content">要说 C++ 从 C 继承到的最大优点是什么的话，大抵是指针级别的抽象零开销。</div>
                                <div class="meta2 right-align">
                                    <span class="floor">#12</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="avatar left">
                        <img class="responsive-img circle z-depth-1" src="http://1.gravatar.com/avatar/d57d179fe317be14fb167aa8bbe9a5f3"
                             alt=""/>
                    </div>
                    <div class="body">
                        <div class="meta">
                            <a class="waves-effect orange-text btn-flat right reply"><i class="mdi-content-reply"></i>&nbsp;&nbsp;REPLY</a>
                            <a class="author" href="#"><strong>Xinzens</strong></a>
                            <span class="date">12 DAYS AGO</span>
                        </div>
                        <div class="content entry-content">要说 C++ 从 C 继承到的最大优点是什么的话，大抵是指针级别的抽象零开销。</div>
                        <div class="meta2 right-align">
                            <span class="floor">#12</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-form">
                <div class="row">
                    <form class="col l8 m10 offset-l2 offset-m1 s12" method="post" id="comment-form">
                        <div class="row">
                            <div class="input-field col s3">
                                <input id="user" type="text" class="validate" name="username" required="required">
                                <label for="user">Name</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="email" type="email" class="validate" name="email" required="required">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s5">
                                <input id="url" type="url" class="validate" name="url">
                                <label for="url">Url</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="content" class="materialize-textarea"></textarea>
                                <label for="content">Content</label>
                            </div>
                        </div>
                        <div class="row center-align">
                            <button class="btn">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>