<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="shortcut icon" type="image/png" href="{{.ThemeLink}}/img/logo.jpeg"/>
    <link type="text/css" rel="stylesheet" href="{{.ThemeLink}}/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{.ThemeLink}}/css/style.css"/>
    <script src="{{.ThemeLink}}/js/jquery-2.1.4.min.js"></script>
    <script src="{{.ThemeLink}}/js/materialize.min.js"></script>
</head>
<body>
<nav id="nav" class="blue lighten-1">
    <div class="nav-wrapper container">
        <a id="site-title" class="brand-logo" href="/" title="{{.General.FullTitle}}">{{.General.Title}}<span id="site-sub-title" class="lime-text text-lighten-3">{{.General.SubTitle}}</span></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">Archives</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</nav>
<div id="index-banner" class="parallax-container" style="background-image: url('{{.ThemeLink}}/img/bg.png');">
    <div class="section no-pad-bot">
        <div class="container center-align">
            <img class="circle z-depth-1" src="http://tp1.sinaimg.cn/1865987544/180/5697090972/1" alt="logo" id="index-avatar"/>
        </div>
    </div>
</div>
<div id="main-container">
    <div class="container row">
        <div class="section article-section">
            <div class="row">
                <div class="col l10 offset-l1 white z-depth-1">
                    <article class="article">
                        <div class="col l2 m3 s4 meta">
                            <span class="date"><i class="mdi-action-schedule"></i> 3 Days Ago</span>
                            <a href="#" class="comments">
                                <i class="mdi-editor-mode-comment"></i><span class="badge">12</span> comment
                            </a>
                            <a href="#" class="views grey-text">
                                <i class="mdi-action-visibility"></i><span class="badge">888</span> read
                            </a>
                        </div>
                        <div class="col l10 m7 s6 main">
                            <span class="badge new red lighten-1"></span>
                            <h4 class="title truncate"><a href="#"><strong>Strap enables actionable human data to inform and improve marketing and engagement programs</strong></a></h4>
                            <div class="content">
                                Strap enables actionable human data to inform and improve marketing and engagement programs. We believe the consumer centered journey must be personalized because a more personal world is a better world. Through powerful analytics and segmentation from smartphones, wearables and health data applications, Strap empowers some of the world’s largest brands and retailers to securely engage consumers at the right time while building brand loyalty and gaining valuable consumer insights.
                            </div>
                            <div class="more">
                                <a class="waves-effect waves-light btn">Read More</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="section article-section">
            <div class="row">
                <div class="col l10 offset-l1 white z-depth-1">
                    <article class="article">
                        <div class="main main2">
                            <h4 class="title truncate"><a href="#"><strong>Strap enables actionable human data to inform and improve marketing and engagement programs</strong></a></h4>
                            <div class="meta2">
                                <span class="date grey-text"><i class="mdi-action-schedule"></i> 3 Days Ago</span>
                                <a href="#" class="comments grey-text">
                                    <i class="mdi-editor-mode-comment"></i>comment 12
                                </a>
                                <a href="#" class="views grey-text">
                                    <i class="mdi-action-visibility"></i>read 999
                                </a>
                            </div>
                            <div class="content">
                                Strap enables actionable human data to inform and improve marketing and engagement programs. We believe the consumer centered journey must be personalized because a more personal world is a better world. Through powerful analytics and segmentation from smartphones, wearables and health data applications, Strap empowers some of the world’s largest brands and retailers to securely engage consumers at the right time while building brand loyalty and gaining valuable consumer insights.
                            </div>
                            <div class="more right-align">
                                <a class="waves-effect waves-teal btn-flat">Read More</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="section article-page center-align">
            <a class="waves-effect waves-light btn btn-large blue lighten-2">prev</a>
            <a class="waves-effect waves-light btn btn-large blue lighten-2">next</a>
        </div>
    </div>
</div>
<footer class="page-footer green darken-1" id="footer-container">
    <div class="container">
        <div class="row center-align white-text">
           THIS IS DEFAULT THEME
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>© 1990 - ? <a href="#" class="white-text" target="_blank">fuxiaohei</a></span>
            <a class="white-text right" href="#">Powered By Pugo</a>
        </div>
    </div>
</footer>
</body>
</html>