<!DOCTYPE html>
<html>
<head lang="en">
    {{template "default/_meta.tmpl" .}}
</head>
<body>
{{template "default/_header.tmpl" .}}
<div id="main-container">
    <div class="container row">
        {{with .Article}}
        <div class="section article-section" id="article-{{.Id}}">
            <div class="row">
                <div class="col l10 offset-l1 m12 s12 white z-depth-2">
                    <article class="article">
                        <div class="main main2">
                            <h4 class="title truncate"><a href="{{.Href}}" title="{{.Title}}">{{.Title}}</a></h4>
                            <div class="meta2">
                                <span class="date grey-text"><i class="mdi-action-schedule"></i> {{TimeUnixFriend .CreateTime}}</span>
                                <a href="#comments" class="comments grey-text scroll-to">
                                    <i class="mdi-editor-mode-comment"></i>comment&nbsp;&nbsp;&nbsp;{{.Comments}}
                                </a>
                                <a href="{{.Href}}" class="views grey-text">
                                    <i class="mdi-action-visibility"></i>read&nbsp;&nbsp;&nbsp;{{.Hits}}
                                </a>
                            </div>
                            <div class="content entry-content">{{.Content}}</div>
                            {{if .TagString}}
                            <div class="tags right-align">
                                <i class="mdi-action-label"></i>&nbsp;&nbsp;Tags
                                {{range .TagLinks}}
                                <a href="{{.Link}}" title="{{.Name}}">{{.Name}}</a>
                                {{end}}
                            </div>
                            {{end}}
                            <!--<div class="more right-align">
                                <a class="waves-effect waves-teal btn-flat" href="{{.Href}}" title="read more">Read More</a>
                            </div>-->
                        </div>
                    </article>
                </div>
            </div>
        </div>
        {{end}}
        {{if not .Article.IsCommentClosed}}
            {{template "default/comment.tmpl" .}}
        {{end}}
    </div>
</div>
{{template "default/_footer.tmpl" .}}
</body>
</html>