html, body {
    font-family: Lato, Helvetica Neue, "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

body {
    padding-top: 12px;
    /*background: url("../img/bg.jpg") no-repeat top center;*/
    background-color: #FCFCFC;
}

/*
#admin-bar
*/

#admin-bar {
    position: fixed;
    top: 24px;
    left: 24px;
}

/*
#login
*/

#login-form {
    width: 400px;
    margin: 8em auto;
}

#login-error {
    display: none;
}

#login-footer a {
    text-transform: uppercase;
    color: #AAA;
}

#login-forget {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
}

/*
#article-write
*/

#article-write select,
#page-write select {
    height: 45px;
}

#article-write .submit-group .btn,
#page-write .submit-group .btn {
    margin-left: 1em;
}

#article-write label[for=article-title] {
    font-size: 1.5em;
}

#article-write .CodeMirror, .CodeMirror-scroll {
    min-height: 600px;
}

#article-write .editor-preview,
#article-write .editor-preview-side {
    background-color: #FFF !important;
}

#article-write {
    padding-bottom: 8em;
}

#article-write-error,
#article-write-success {
    display: none;
}

#page-write label[for=page-title] {
    font-size: 1.5em;
}

#page-write .CodeMirror, .CodeMirror-scroll {
    min-height: 600px;
}

#page-write .editor-preview,
#page-write .editor-preview-side {
    background-color: #FFF !important;
}

#page-write {
    padding-bottom: 8em;
}

#page-write-error,
#page-write-success {
    display: none;
}

#article-write h4 a.pull-right,
#page-write h4 a.pull-right,
.admin-nav-tab li.pull-right > a {
    margin-left: 1em;
    font-size: 16px;
    text-transform: uppercase;
    color: #AAA;
}

/*
.admin-main
*/

.admin-nav-tab {
    border-bottom-color: #DDD;
}

.admin-nav-tab li > a {
    font-size: 1.8em;
}

.admin-nav-tab li.pull-right > a {
    font-size: 16px;
    padding: 16px 1em 17px 1em;
}

.admin-main .tab-pane {
    padding: 15px;
}

.admin-main .tab-pane .list li {
    line-height: 40px;
    font-size: 18px;
}

/*
#admin-articles
*/

#admin-articles .tab-pane .date {
    font-size: 14px;
    color: #888;
    margin-right: 1em;
}

#admin-articles .tab-pane .action .btn {
    margin-left: 1em;
}

#admin-articles .tab-pane .action {
    display: none;
}

#admin-articles .tab-pane .list li:hover .action {
    display: inline;
}

#admin-articles .pagination {
    padding-left: 1em;
}

#admin-articles .pagination a,
#admin-articles .pagination span {
    padding: 2px 8px;
    font-weight: 700;
}

#admin-articles .tab-pane .label {
    margin-left: 1em;
}

/*
#admin-settings
*/

#admin-settings .tab-pane form.form-horizontal{
    max-width: 800px;
    margin: 2em auto;
}

#admin-settings label.control-label{
    font-weight: bold;
    font-size: 1.1em;
}

#admin-settings .tab-pane .alert{
    display: none;
}