<meta charset="utf-8">
<title>{{.Title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Lunny Xiao">
<meta name="keywords" content="{{.Meta.Keyword}}"/>
<meta name="description" content="{{.Desc}}"/>
<link href="/static/css/pure-min.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/css/blog.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/css/prism.css" type="text/css" rel="stylesheet" media="all"/>