{{template "meta.html" .}}
<div class="pure-g-r" id="layout">
    {{template "sidebar.html" .}}
    <div class="pure-u-1">
        <div class="content">
            <div class="post">
                <h1 class="post-header">{{.Post.Title}}</h1>
                <div class="post-meta">
                    <small>{{.Post.Created.Year}}-{{printf "%0d" .Post.Created.Month}}-{{.Post.Created.Day}}</small>
                </div>
                <div class="post-description">{{.Post.ContentHTML}}</div>
            </div>
            {{template "embed/comment.html" .}}
        </div>
        {{template "footer.html" .}}
    </div>
</div>
{{template "footer_js.html" .}}