{{template "meta.html" .}}
<div class="pure-g-r" id="layout">
    {{template "sidebar.html" .}}
    <div class="pure-u-1">
        <div class="content">
            <div class="page-header">
                <h1>{{.I18n.Tr "post.list"}}</h1>
            </div>
            {{if .Tag}}<h2>{{.i18n.Tr "post.tags"}}：{{.Tag.Name}}</h2>{{end}}{{range .Posts}}
            <div class="post">
                <h3 class="post-header"><a href="{{.URL}}">{{.Title}}</a></h3>
                <div class="post-meta">
                    <small>{{.Created.Year}}-{{printf "%0d" .Created.Month}}-{{.Created.Day}}</small>
                </div>
                <div class="post-description">{{.BriefHTML}}</div>
                <div class="more">
                    <a href="{{.URL}}" class="btn pure-button pure-button-primary">{{$.I18n.Tr "post.readmore"}}..</a>
                </div>
            </div>
            {{end}}
        </div>
        <div class="pagination pure-g">
            <ul>
                {{if .Pager.Prev}}<li class="prev pure-u-1-3"><a href="{{.Pager.PrevURL}}">← {{.I18n.Tr "pager.prev"}}</a></li>{{end}}
                {{if .Pager.Next}}<li class="next pure-u-1-3"><a href="{{.Pager.NextURL}}">{{.I18n.Tr "pager.next"}} →</a></li>{{end}}
            </ul>
        </div>
        {{template "footer.html" .}}
    </div>
</div>
{{template "footer_js.html" .}}