body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

legend {
    color: #000
}

html, body {
    font-family: "PingHei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

pre code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

html,
body {
    font-size: 14px;
    line-height: 30px;
    color: #333;
    background-color: #fbfbfb;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #0079bc
}

a:hover {
    color: #005b9b
}

p {
    margin-bottom: 6px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    font-weight: bold;
    margin: 1rem 0;
}

h1 {
    font-size: 22px
}

h2 {
    font-size: 20px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 14px
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.left {
    float: left
}

.right {
    float: right
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.vertical-middle {
    vertical-align: middle
}

.inline {
    display: inline
}

.inline-block {
    display: inline-block
}

.block {
    display: block
}

.fade-out {
    opacity: 0
}

.hide {
    display: none !important
}

/* cover */

.cover {
    width: 360px;
    height: 100%;
    text-align: center;
    color: #f8f8f8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-linear-gradient(300deg, rgba(95, 44, 130, .1) 30%, rgba(73, 160, 157, .2) 70%) 0 0/cover fixed;
    background: linear-gradient(150deg, rgba(95, 44, 130, .1) 30%, rgba(73, 160, 157, .2) 70%) 0 0/cover fixed;
    position: fixed;
    z-index: 111;
    border-right: 1px solid #ccc;
    box-shadow: 10.5px -10px 1px -9px #ddd;
}

.cover.index {
    width: 100%;
}

#avatar-link img.avatar {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .25);
    border-radius: 50%;
}

#avatar-link {
    color: #FCFCFC;
    font-weight: bold;
    margin-bottom: 8px;
}

.cover .profile {
    width: 600px;
}

.cover .divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, .14);
    margin: 12px auto;
    height: 0;
}

.cover .divider.long {
    width: 30%;
}

.cover .divider.short {
    width: 15%;
}

.cover .navigation {
    padding-top: 18px;
}

.cover .navigation li,
.cover .social li {
    display: inline-block;
    font-size: 16px;
}

.cover .navigation li a {
    padding: .5rem 1rem;
    color: #FAFAFA;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    opacity: .8;
    margin: 6px;
    display: block;
}

.cover .navigation li a:hover,
.cover .social li a:hover {
    opacity: 1;
    color: #fbffc0;
}

.cover .social {
    padding-top: 30px;
}

.cover .social li a {
    font-size: 24px;
    color: #FAFAFA;
}

#main {
    margin-left: 370px;
    padding: 4rem 11rem;
}

#main.index {
    display: none;
}

.article {
    border-bottom: 1px dashed #CCC;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.article .title {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: "PT Serif", "Lucida Sans Unicode", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    border-left: 4px solid rgba(0, 68, 204, .7);
    padding-left: 2rem;
}

.article .title a {
    color: #333;
}

.article .title a:hover {
    color: #111;
}

.article .aside {
    color: #999;
}

.article pre code {
    font-size: 90%;
}

.article .tags .tag,
.article a.author {
    text-transform: uppercase;
    background-color: rgba(0, 68, 204, .7);
    border-radius: .25rem;
    transition: all 350ms;
    padding: .2rem .36rem;
    font-size: .55rem;
    color: #f8f8f8;
    margin-left: 6px;
}

.article .tags .tag:hover,
.article a.author:hover {
    background-color: rgb(0, 68, 204);
}

.article .brief h1,
.article .brief h2 {
    border-left: 4px solid rgba(0, 68, 204, .5);
    padding-left: 2rem;
}

.article .brief h3,
.article .brief h4 {
    border-left: 4px solid rgba(0, 68, 204, .3);
    padding-left: 2rem;
}

.article .brief h5,
.article .brief h6 {
    border-left: 4px solid rgba(0, 68, 204, .1);
    padding-left: 2rem;
}

.article p code,
.article li code{
    font-family: Consolas, "Microsoft YaHei", "Courier New", Arial, monospace;
    background: rgba(128, 128, 128, .2);
    padding: 2px 6px;
    font-size: 95%;
    border-radius: 4px;
}

.article table{
    width: 100%;
    margin: .5rem 1rem;
}

.article td{
    border-top: 1px solid #DDD;
    padding:0 .5rem;
}

.article th{
    font-weight: bold;
    padding:0 .5rem;
}

#article-list .top-tag {
    font-size: 32px;
    color: #AAA;
    border-bottom: 1px solid #DDD;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

#footer {
    margin-top: 36px;
    padding-top: 24px;
    border-top: 1px solid rgba(128, 128, 128, .3);
    color: #AAA;
}

.article-pager > * {
    margin-right: 8px;
}

.article-pager a {
    padding: 8px 12px;
    font-size: .8em;
    border: 1px solid rgba(0, 68, 204, .7);
    border-radius: 20px;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 68, 204, .7);
}

.article-pager a:hover {
    color: rgb(0, 68, 204);
}

#article-single .aside {
    margin-bottom: 20px;
}

#footer a {
    color: #AAA;
}

#footer a:hover {
    color: #666;
}

.archive h4{
    margin-left: 1rem;
}

.archive .date{
    color: #AAA;
    margin-right: 2rem;
}