@import url(http://fonts.googleapis.com/css?family=Roboto|Droid+Sans+Mono:600,400,300);
@import "dropzone.css";

html, body {
    font-family: Roboto, Helvetica Neue, "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

input, textarea {
    outline: none !important;
}

pre code {
    font-family: "Droid Sans Mono", Consolas, "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

title {
    text-transform: uppercase;
}

.fa {
    width: 16px;
    height: 16px;
    text-align: center;
}

.fa-lg {
    width: 24px;
    height: 24px;
    font-size: 24px;
    vertical-align: bottom;
}

/*
 login page
*/

#login-form {
    width: 360px;
    margin-top: 60px;
}

#login-form .input-group-lg > .form-control,
#login-form .input-group-lg > .input-group-addon {
    padding: 0 11px 0 10px;
    line-height: inherit !important;
}

#login-form .form-group {
    margin-bottom: 24px;
}

#login-forget {
    color: #888;
}

#login-error {
    display: none;
}

/*
 #nav
*/

.nav-drop .fa {
    margin-right: .4em;
}

.nav-drop > li > a {
    margin-bottom: .6em;
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav-drop > li > a:last-child {
    margin-bottom: 0;
}

/*
 #main
*/

#main {
    margin-top: 70px;
}

.container .help-text {
    color: #666;
    font-size: 95%;
    margin-top: .5em;
}

/*
 #editormd
*/

#editormd .editormd-menu > li .fa {
    width: auto !important;
    height: auto !important;
}

.editormd-fullscreen {
    z-index: 1099;
}

/*
 #write-article
*/

#write-article-form .write-article-form-inline label {
    padding-right: 1em;
}

#write-article-form .write-article-form-inline .form-control {
    margin-right: 2em;
}

#write-article-tag {
    width: 560px;
}

/*
#manage-article-list
*/

#manage-article-list .article {
    line-height: 30px;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px dashed #DDD;
}

#manage-article-list .article:hover .opt {
    display: block;
}

#manage-article-list .article .date {
    font-size: 16px;
    color: #999;
    margin-right: 12px;
}

#manage-article-list .article .title {
    font-size: 20px;
    margin-right: 12px;
}

#manage-article-list .article .status {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    padding: .3em .6em;
    margin-right: 12px;
}

#manage-article-list .article .opt {
    margin-top: 6px;
    display: none;
}

#manage-article-list .article .opt a {
    font-size: 14px;
    margin-left: 8px;
}

#manage-article-list .article .link {
    font-size: 14px;
    color: #999;
    margin-right: 12px;
}

#manage-article-list .article .comment {
    color: #999;
}

#manage-article-list .pager a,
#media-list .pager a,
#comment-main .pager a {
    padding: 3px 9px !important;
    background-color: #EEE;
}

/*
#profile-form
*/

#profile-success,
#profile-error,
#password-success,
#password-error,
#setting-general-success,
#setting-general-error,
#setting-media-success,
#setting-media-error,
#setting-content-success,
#setting-content-error,
#setting-comment-success,
#setting-comment-error,
#setting-menu-success,
#setting-menu-error{
    display: none;
}

/*
#theme-main
*/

#theme-main .theme {
    line-height: 30px;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px dashed #DDD;
}

#theme-main .theme .dir {
    color: #999;
}

#theme-main .theme .dir,
#theme-main .theme .status {
    margin-top: 7px;
}

/*
#media-main
*/

#media-list .media {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dashed #DDD;
}

#media-list .name {
    max-width: 30em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

#media-list .media .type {
    padding-right: 1em;
    color: #999;
}

#media-list .media .time {
    display: inline-block;
    min-width: 120px;
    color: #999;
    text-transform: uppercase;
}

#media-list .media .hash {
    padding-left: 1em;
    color: #999;
    font-size: 80%;
}

#media-list .media .opt {
    display: none;
}

#media-list .media:hover .opt {
    display: inline-block;
}

/*
#comment-main
*/

#comment-main .main-title h3 {
    display: inline-block;
}

#comment-main .main-title a {
    vertical-align: middle;
    margin-left: 1em;
    text-transform: uppercase;
    margin-top: -9px;
}

#comment-main .comment .avatar img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

#comment-main .comment .meta {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px #EEE dashed;
}

#comment-main .comment .meta > * {
    margin-right: 1em;
}

#comment-main .comment .meta,
#comment-main .comment .body {
    margin-left: 44px;
}

#comment-main .comment {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #DDD;
}

#comment-main .comment .meta .status {
    text-transform: uppercase;
}

#comment-main .comment .date,
#comment-main .comment .email,
#comment-main .comment .from {
    color: #999;
    font-size: 85%;
}

#comment-main .comment .parent {
    padding-top: 10px;
    font-size: 90%;
    color: #999;
}

#reply-form {
    margin-top: 1rem;
    display: none;
}

#reply-error {
    display: none;
}

/*
#message-list
*/

#message-list .message {
    font-size: 1.1em;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #EEE;
}

#message-list .fa {
    font-size: 18px;
    margin-right: 12px;
}

#message-list .author {
    font-size: 1.1em;
    color: #337ab7;
    padding-right: 4px;
}

#message-list .time {
    float: right;
    color: #999;
    text-transform: uppercase;
}

#message-list .page-link,
#message-list .email-link {
    padding-left: 6px;
    font-size: 85%;
    color: #888;
}

#message-list .email-link {
    font-style: italic;
}

#message-list .content,
#message-list .quote {
    font-size: 80%;
    margin-left: 20px;
    margin-top: 12px;
}

/*
#backup-files
*/

.backup-file{
    font-size: 1.1em;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #EEE;
}

.backup-file > *{
    margin-right: 12px;
}

.backup-file .size,
.backup-file .time{
    color: #999;
}

#backup-doing,
#backup-success,
#backup-error{
    display: none;
}